# =========================
# Secrets
# =========================
.env

# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# =========================
# Virtual environments
# =========================
venv/
.venv/

# =========================
# macOS
# =========================
.DS_Store

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# Logs
# =========================
*.log

# =========================
# Databases
# =========================
*.db
*.sqlite3

# =========================
# Temporary
# =========================
tmp/
temp/

# =========================
# Local backups
# =========================
backups/

